<link rel="stylesheet" href="/stylesheets/home-style.css">

<div id="app" class="container-fluid">
    
    <div class="row"> 

        <div id="carouselSlides" class="carousel slide col-md-12" data-ride="carousel">
            <div class="carousel-inner">
                {{#each homeData.slide_imgs}}
                    <div class="carousel-item {{isActiveSlide @index}}">
                        <img class="d-block w-100" src="{{this}}" alt="First slide">
                    </div>
                {{/each}}
            </div>
        </div>


        <div id="mainLogo" class="col-md-12 text-center" style="margin-top: 50pt;">
            <img src="WiSE_Calca.png" class="img-responsive center-block"
                style="height: auto; width: auto; max-height: 350px; max-width: 500px;">
        </div>
    </div>
    <!-- End of Section -->

    <!-- Quienes Somos Section -->

    <div id="about" class="row" style="margin-top: 50pt;  background-color:rgba(255, 255, 255, 0.726)">
        <div class="col-sm-12"  style="margin: 20pt 0pt">
            <center>
                <h1>{{homeData.title}}</h1>
            </center>
        </div>
        {{#each homeData.columns}}
            <div class="col-sm-4 list-group-item ">
                <center>
                    <h2>{{{markdownize title}}}</h2>
                </center>
                
                <div class="content"> {{{markdownize content}}} </div>
            </div>
        {{/each}}
    </div>
    <!-- End of Section -->

    <!-- Patrocinadores Section -->

    <div id="sponsor" class="row" style="margin-top: 50pt;text-align: center;">
        <div class="col-sm-12">
            <h1>PATROCINADORES</h1>
            <br>
            <div class="row">
                {{#each homeData.patrocinadores}}
                    <div class="col">
                        <img src="{{this.img}}" class="img-patrocinador " alt="{{this.nombre}}">
                        <center>
                            <h2>{{this.nombre}}</h2>
                        </center> 
                    </div>
                {{/each}}
            </div>
            <br>
            <p>
                {{{markdownize homeData.patrocinadores_descripcion}}}
            </p>

            <button class="button">
                Haste Patrocinador
            </button>
        </div>
    </div>
    <!-- End of Section -->

    <!-- Salon de la Fama Section -->

     <div id="salon" class="row" style="margin-top: 50pt; margin-bottom: 50pt; background-color:rgba(255, 255, 255, 0.726); text-align:center">
        <div class="col-sm-12" style="text-align: center;">
            <br>
            <h1>SALÓN DE LA FAMA</h1>

        </div>

        {{#each homeData.salon_de_la_fama}}
            <div class="col" style=" border: 2px; border-radius: 5px;">
                <br>
                <img src="{{this.img}}" class="img-winners" alt="{{this.nombre}}">
                <p class="subtitulos">{{this.nombre}}</p>
                <p>{{{markdownize this.descripcion}}}</p>

            </div>
        {{/each}}
    </div>

</div>
<!-- End of Page -->