<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Modo Administrador</title>
    <link rel="icon" href="/favicon.ico?v=1.1">

    <!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700" rel="stylesheet">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">    <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/grid/">
	<!-- Si utilizamos componentes de Bootstrap que requieran Javascript agregar estos tres archivos -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<!-- VueJs -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="/src/events.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <link rel="stylesheet" href="/stylesheets/googleButton.css">
    <link rel="stylesheet" href="/stylesheets/secret-page-style.css">
</head>

<script>
    async function fetch_post(route, bodyObj){
        const param = {
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body:  JSON.stringify(bodyObj),
                method: "POST",
                redirect: 'follow'
            }

        await fetch(route, param)
        .then(response => response.text())
        .then(result => {
            if(result){
                const res = JSON.parse(result);

                if(res.do === "reload") {
                    console.log("reload!!");
                    location.reload();
                }
            }
        })
        .catch(error => console.log('error', error));
    }

    async function updateAdminStatus(OID, status, email){
        console.log("making admin: " + OID);

        let action = status? "agregar" : "remover";
        
        if (confirm(`¿Estas segur@ de que quieres ${action} el admin ${email}?`)) {
            fetch_post('/admin/updateAdminStatus', {OID: OID, status: status});
        }
    }

    async function createCol(title, content){
        fetch_post('/admin/updateHome/create-col', {title: title, content: content});
    }

    async function removeColByIndex(index){
        if (confirm(`¿Estas segur@ de que quieres borrar esta columna?`)) {
            fetch_post('/admin/updateHome/remove-col', {index: index});
        }
    }

    async function removeSlide(path){
        if (confirm(`¿Estas segur@ de que quieres borrar esta imagen?`)) {
            fetch_post('/admin/updateHome/remove-slide', {path: path});
        }
    }

    async function removePatrByIndex(index, img){
        if (confirm(`¿Estas segur@ de que quieres borrar este patrocinador?`)) {
            fetch_post('/admin/updateHome/remove-sponsor', {index: index, img: img});
        }
    }

    async function removePersonByIndex(index, img){
        if (confirm(`¿Estas segur@ de que quieres borrar esta persona?`)) {
            fetch_post('/admin/updateHome/remove-person', {index: index, img: img});
        }
    }

    async function removePublicationById(id){
        if (confirm(`¿Estas segur@ de que quieres borrar esta publicación?`)) {
            fetch_post('/admin/updateHome/remove-publication', {id: id});
        }
    }
    
</script>

<body>
    <nav class="navbar fixed-top ">
        <a class="navbar-brand" href="/"><img src="/Logo_WiSE_Oficial-140px-white.png" class="img-responsive"></a>

        <a class="navbar-brand" href="/logout"><div class="google-btn">
                <div class="google-icon-wrapper">
                    <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                </div>
                <p class="btn-text"><b>Log Out</b></p>
        </div></a>
    </nav>

    <div id="app" class="container">
        <h1 class="display-2" style="color:#111">Modo administrador</h1> 
        
        <hr>
        <a href="#home"><button type="button" class="btn btn-info" >Home</button></a>
        <a href="#publicaciones"><button type="button" class="btn btn-info" >Publicaciones</button></a>
        <hr>

        <h3><img src={{user.img}} class="img-responsive user-img"> - Bienvenid@ - </h3>
        <h4>User: {{user.name}} </h4>
        <h4>email: {{user.email}} </h4>

        <hr>
        <h3>Usuarios:</h4>

        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">email</th>
                <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                    <tr {{#if this.isAdmin}} style="background-color: rgba(35, 185, 43, 0.753);" {{/if}} >
                    <th scope="row"><img src={{this.img}} class="img-responsive user-img" ></th>
                    <td class="align-middle">{{this.name}}</td>
                    <td class="align-middle">{{this.email}}</td>
                    <td class="align-middle">
                        {{#if this.isAdmin}}
                            {{#if (areNotEqual this.OID ../user.OID)}} 
                                <button type="button" class="btn btn-danger" onclick="updateAdminStatus('{{this.OID}}', false, '{{this.email}}')">Quitar administrador</button>
                            {{/if}}
                        {{else}}<button type="button" class="btn btn-success" onclick="updateAdminStatus('{{this.OID}}', true, '{{this.email}}')">Hacer administrador</button> 
                        {{/if}}
                    </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>

        <hr id="home">
        <h2>Home:</h2>
        
        <br>
        <h3>Slides:</h3>
        <div class="scrollmenu container">
            <div class="row">
                {{#if homeData.slide_imgs}}
                    {{#each homeData.slide_imgs}}
                        <div>
                            <img class="scroll_galery rounded " src="/{{this}}" />
                            <input type="button" class="btn btn-danger float-right" value="X" onclick="removeSlide('{{this}}')"/>
                        </div>
                    {{/each}}
                {{else}}
                    <div class="col">
                        <h2 style="color: hotpink;">No hay slides que mostrar (╯︵╰,)</h2>
                    </div>
                {{/if}}
            </div>
        </div>

        <form method="POST" enctype="multipart/form-data" action="/admin/updateHome/upload-slide">    
            <div class="form-group">
                <label for="slide">Sube tu imagen: </label><br />
                <input name="file" class="form-control-file" type="file" /><br />
                <br>
                <input type="submit" class="btn btn-primary" value="Agregar slide" />
            </div>        
        </form>

        <br id="columnas">
        <h3>Columnas:</h3>
        <form action = "/admin/updateHome/columns" method = "POST">
            <label for="mainTitle">titulo central:</label>
            <input type="text" class="form-control" id="mainTitle" name="mainTitle" value="{{homeData.title}}">
            <br>

            <input type="button" class="btn btn-primary" onclick="createCol('[titulo]', '[contenido]')" value="+"/>

            <div class="row" style="margin-top: 15px;">
                {{#if homeData.columns}}
                    {{#each homeData.columns}}
                        <div class="col-4 form-group" >
                            
                            <p>
                                Columna {{@index}} 
                                <input type="button" class="btn btn-danger float-right" value="X" onclick="removeColByIndex('{{@index}}')"/> 
                            </p>
                            <input type="text" class="form-control" id="title" name="title" value="{{this.title}}">
                            <br>
                            <textarea class="form-control" rows = "10" cols = "42" name="content" >{{this.content}}</textarea>
                        </div>
                    {{/each}}
                {{else}}
                    <div class="col">
                        <h2 style="color: hotpink;">No hay columnas que mostrar (╯︵╰,)</h2>
                    </div>
                {{/if}}
            </div>
            <br>
            <input type="submit" class="btn btn-primary" value="Actualizar todas" />
        </form>

        <br id="patrocinadores">
        <h3>Patrocinadores:</h3>

        <form action = "/admin/updateHome/patrocinador-desc" method = "POST">
            <label for="description">Descripción del area de patrocinadores:</label>
            <input type="text" class="form-control" id="description" name="description" value="{{homeData.patrocinadores_descripcion}}">
            <br>
            <input type="submit" class="btn btn-primary" value="Actualizar descripción" />
        </form>
        <br>
        <div class="scrollmenu container">
            <div class="row">
                {{#if homeData.patrocinadores}}
                   {{#each homeData.patrocinadores}}
                        <div class="text-center">
                            <input type="button" class="btn btn-danger float-right" value="X" onclick="removePatrByIndex('{{@index}}', '/{{this.img}}')"/>
                            <img src="/{{this.img}}" class="img-patrocinador scroll_galery " alt="{{this.nombre}}">
                            
                            <h2>{{this.nombre}}</h2>
                             
                        </div>
                     {{/each}}
                {{else}}
                    <div class="col">
                        <h2 style="color: hotpink;">No hay patrocinadores que mostrar (╯︵╰,)</h2>
                    </div>
                {{/if}}
            </div>
        </div>

        <p>Crear patrocinador:</p>
        <form method="POST" enctype="multipart/form-data" action="/admin/updateHome/create-sponsor" style="margin-left: 30px;">    
            <div class="form-group">
                <label for="file">Logo patrocinador: </label><br />
                <input name="file" class="form-control-file" type="file" /><br />
                <label for="nombre">nombre: </label><br />
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="[nombre patrocinador (opcional)]">
                <br>
                <input type="submit" class="btn btn-primary" value="Crear" />
            </div>        
        </form>

        <br id="salon_de_la_fama">
        <h3>Salón de la fama:</h3>

        <br>
        <div class="scrollmenu container">
            <div class="row">
                {{#if homeData.salon_de_la_fama}}
                   {{#each homeData.salon_de_la_fama}}
                        <div class="text-center">
                            <input type="button" class="btn btn-danger float-right" value="X" onclick="removePersonByIndex('{{@index}}', '/{{this.img}}')"/>
                            <img src="/{{this.img}}" class="img-persona scroll_galery " alt="{{this.nombre}}">
                            
                            <h2>{{this.nombre}}</h2>
                            <p>{{this.descripcion}}</p>
                             
                        </div>
                     {{/each}}
                {{else}}
                    <div class="col">
                        <h2 style="color: hotpink;">No hay personas que mostrar (╯︵╰,)</h2>
                    </div>
                {{/if}}
            </div>
        </div>

        <p>Crear persona:</p>
        <form method="POST" enctype="multipart/form-data" action="/admin/updateHome/create-person" style="margin-left: 30px;">    
            <div class="form-group">
                <label for="file">Imagen: </label><br />
                <input name="file" class="form-control-file" type="file" /><br />
                <label for="nombre">nombre: </label><br />
                <input type="text" class="form-control" id="nombre" name="nombre" value="[nombre persona]">
                <label for="descripcion">descripcion: </label><br />
                <textarea class="form-control" rows = "10" cols = "42" name="descripcion" >[Descripción]</textarea>
                <br>
                <input type="submit" class="btn btn-primary" value="Crear" />
            </div>        
        </form>

        <br>
        <hr id="publicaciones">
        <h2>Publicaciones:</h2>
        <br>

        <div class="container">
            {{#each publicacionesData}}
                <div class="card row" style="margin: 1%; padding: 2px;">
                    <h2 class="card-header">
                        {{this.title}}
                        <div class="float-right date">{{date this.date}}
                            <input type="button" class="btn btn-danger float-right" style="margin-left: 15px;" value="X" onclick="removePublicationById('{{this._id}}')"/>
                        </div>
                    </h2>
                </div>
            {{/each}}   
        </div>

        <p>Crear publicación:</p>
        <form method="POST" enctype="multipart/form-data" action="/admin/updateHome/create-publication">    
            <div class="form-group">
                <label for="file">Imagenes (maximo 10): </label><br />
                <input name="file" accept='image/*' class="form-control-file" type="file" multiple/><br />

                <input type="text" class="form-control" id="title" name="title" value="[titulo]">
                <br>
                <textarea class="form-control" rows = "10" cols = "42" name="markdownContent" >[Contenido]</textarea>
                <br>
                <input type="text" class="form-control" id="linkText" name="linkText" placeholder="[texto botón (opcional)]">
                <br>
                <input type="text" class="form-control" id="link" name="link" placeholder="[link botón (opcional) (porfavor incluye el http://)]">
                
                <br>
                <input type="submit" class="btn btn-primary" value="Crear" />
            </div>        
        </form>

    </div>    
</body>

